body {
  font-family: "Poppins", sans-serif;
}
.header {
  padding: 2px;
  text-align: center;
  background-color: #cfcbc8;
}
.header.flex {
  display: flex;
}

.header div {
  width: 50%;
}
.mainmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mainmenu ul li {
  display: inline-block;
  padding: 25px;
}

.mainmenu ul li a {
  text-decoration: none;
  color: white;
  
}
.text-clr {
  color: orange;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
h1 {
  font-size: 45px;
}
.text-size {
  font-size: 12px;
}
.text-cntr {
  text-align: center;
}
.half-width {
  width: 50%;
  padding: 100px;
}
.half-width img {
  width: 100%;
}
.button {
  text-decoration: none;
  background-image: linear-gradient(tomato, orange);
  border-radius: 50px;
  color: white;
  padding: 8px 15px;
  font-size: 15px;
}
.top-banner {
  background-image: url(images/shapes/Frame\ 58.jpg);
}
.midle-banner {
  background-image: url(images/shapes/7.png);
}
.recipe-item {
  width: 30%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px gray;
}
.recipe-item img {
  width: 100%;
}
footer {
  padding: 5px;
  background-color: black;
  color: #837d7d;
}
